body{
    font-family: 'Montserrat', sans-serif;
}

.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
/* -----------------HEADER ----------------------  */
.header-logo{
color: #111;
font-size: 18px;
font-weight: 700;
line-height: 1.11;
letter-spacing: -0.03em;
}

.header-logo-accent{
    font-style: italic;
}

.header-menu-link{
color: #111;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;
}

.header-menu-link:hover,
.header-menu-link:focus{
    color: #FD9222;
    }

/* -------------------HERO----------- */
.hero {background-color: #48433c;
}
.hero-titel {color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
}
.hero-btn {
    color: #FFF;
font-family: inherit;
font-size: 14px;
font-weight: 600;
background: #FD9222;
cursor: pointer;

}
.hero-link {
    color: #FFF;
font-size: 14px;
font-weight: 600;
}

.hero-down {
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.29;
letter-spacing: -0.03em;
}
